<?xml version="1.0" encoding="utf-8"?>
<environments xmlns="urn:umbracodeploy-environments" id="099dd15d-85a6-45c0-9c0e-a5f21c94c3a6" name="TestUmbraco" alias="testumbraco" type="Starter" color="" url="https://www.s1.umbraco.io/project/testumbraco">
  <environment type="live" name="Live" id="0c5c02cd-5fd5-461c-91d5-6126f91eda02">https://testumbraco.s1.umbraco.io</environment>
</environments>